
//paleta de cores
$cor-rosa: #ed1e78;

$cor-lilas: #725bc2;
$cor-lilas-claro: #dedaf1;

$cor-cinza: #3f4656;
$cor-cinza-medio: #d8d6d6;
$cor-cinza-claro: #f3f4f6;


$cor-background-caixa: $cor-cinza-claro;
$cor-borda-caixa: $cor-lilas-claro;
$cor-aba: $cor-lilas-claro;
$cor-sombra-projetada: $cor-cinza-medio;
$cor-icone: $cor-lilas;
$cor-borda-input: $cor-lilas;
$cor-texto: $cor-cinza;

$cor-botao-principal: $cor-rosa;
$cor-botao-secundario: $cor-lilas-claro;







